<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Easily validate Emails.</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Easily validate Emails.">
  <link href="//fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css?18112017">
  <link rel="stylesheet" href="css/feather.css">
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Technovendors Software Pvt Ltd",
    "url": "https://technovendors.com",
    "logo": "https://suet.co/images/suet-logo.png",
    "sameAs": [
      "http://twitter.com/technovendors"
    ]
  }
  </script>
  <style type="text/css">
  section {
    padding: 100px 0;
  }
  strong {
    color: #111;
  }
  header {
    padding: 10% 0 0;
    margin-bottom: 0;
    box-shadow: none;
  }
  header h1 span {
    position: relative;
    top: 5px;
  }
  nav {
    position: fixed;
    text-align: right;
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
    background-color: rgba(255,255,255,0.9);
    padding: 10px;
    border-bottom: 1px solid #eee
  }
  .features {
    background-color: #fff;
  }
  .features img {
    display: block;
    margin: 40px 0;
    box-shadow: 0 20px 80px rgba(120, 81, 222, 0.07)
  }
  img {
    max-width: 100%
  }
  img.bordered {
    border: 1px solid #ddd;
    display: block;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgba(150,150,150,0.2);
  }
  img.shadowed {
    border-radius: 20px;
    /*box-shadow: 1px 3px 1px 0px rgba(150,150,150,0.2);*/
  }
  .price {
    padding-top:50px
  }
  .price .three {
    padding: 10px 0;
    border-right: 1px dotted #bbb;
  }
  .price .three:last-child {
    border-right: 0;
  }
  .faq {
    background-color:#fff;
  }
  .faq .row {
    margin-bottom: 10px
  }
  footer {
    padding: 30px 0;
  }
  /* responsive touch */
  @media (max-width: 800px) {
    section {
      padding: 50px 0;
    }
    header {
      background: #fff;
    }
    header .one-half.column {
      width: 80%
    }
  }
  /* responsive touch */
  @media (max-width: 800px) {
    section {
      padding: 50px 0;
    }
    header {
      background: #fff;
    }
    header .one-half.column {
      width: 80%
    }
  }
  </style>
</head>
<body>

<nav>
  <ul>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login" class="button button-primary" style="margin-bottom:0">Login</a></li>
  </ul>
</nav>

<header>
  <div class="container">
    <div class="row">
      <div class="six columns offset-by-three center">
        <h1><a href="/"><i class="icon-bar-graph-2"></i> <span>owlverify</span></a><span class="headway" style="position:absolute"></span></h1>
        <div class="hero">
          <h4 class="title">Easily validate your email list which you sent to your customers for marketing.</h4>
          <p><a href="/signup" class="button button-primary">Signup</a>  <a href="/login" class="button"><i class="icon-skip-forward"></i> Login</a></p>
        </div>
      </div>
    </div>
  </div>
</header>
<section style="background-color:#fff;padding-bottom:0">
  <div class="container">
    <div class="row">
      <div class="eight columns offset-by-two">
        <h6>Owlverify help to validate emails which you send for promotion. It will improve your delivery rate by and reduce bounced and complaint rate.</h6>
        <p>&nbsp;</p>
        <img src="images/hero.png" class="">
      </div>
    </div>
  </div>
</section>
<section class="features">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <h3>Features</h3>
        <p>&nbsp;</p>
        <div class="row">
          <div class="six columns">
            <h5>Easy File Upload</strong></h5>
            <p>You can easliy upload email list in file format, i.e. CSV.</p>
          </div>
          <div class="six columns">
            <h5>Get notifications on Slack</h5>
            <p>Connect Slack and get results on your slack.</p>
          </div>
        </div>
        <p>&nbsp;</p>
        <div class="row">
          <div class="six columns">
            <h5>Higher Deliveries, opens and clicks</h5>
            <p>Owlverify validate emails and remove all invalid email which will improve your deliveries and click rate</p>
          </div>
          <div class="six columns">
            <h5>Low Price</h5>
            <p>You can validate your emails at lower cost 1 paisa per email. lowest in the market</p>
          </div>
        </div>
      </div>
      <div class="six columns">
        <img src="images/slack.png">
        <img src="images/mails.png">
        <img src="images/live.png">
        <!--img src="images/clicks.png"-->
      </div>
    </div>
  </div>
</section>
<section class="pricing" id="pricing">
  <div class="container">
    <div class="row">
      <div class="six columns offset-by-three">
        <h3 class="title">Pricing</h3>
        <p>Pricing is based on the number of email you validate irrespective of the number of users in your account.</p>
        <p>An validation credit is something that how much email you clean. 1 credit equals to 1 validation</p>
      </div>
    </div>
    <div class="row price">
      <div class="three columns">
        <div>
          <h4>Dev</h4>
          <p>One month free trial<br>
          Up to 10k validation</p>
          <h1>$10</h1>
          <p><a href="/billing/add-credit?credit-plan=dev" class="button button-primary">Signup</a></p>
        </div>
      </div>
      <div class="three columns">
        <div>
          <h4>Pro</h4>
          <p>One month free trial<br>
          Up to 100k validation</p>
          <h1>$90</h1>
          <p><a href="/billing/add-credit?credit-plan=pro" class="button button-primary">Signup</a></p>
        </div>
      </div>
      <div class="three columns">
        <div>
          <h4>Biz</h4>
          <p>&nbsp;<br>
          Up to 1M validation</p>
          <h1>$850</h1>
          <p><a href="/billing/add-credit?credit-plan=biz" class="button button-primary">Signup</a></p>
        </div>
      </div>
      <div class="three columns">
        <div>
          <p><strong>More?</strong></p>
          <p><a href="http://github.com/owlverify/owlverify-frontend">Download</a> and self-host<br>or <a href="mailto:hello@owlhub.io">get in touch</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'partials/footer.liquid' %}
