
  <footer>
      <div class="container">
        <div class="row">
          <p class="right">&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script>, <a href="https://technovendors.com/">Technovendors Software Pvt Ltd</a></p>
          <ul>
            <li><a href="http://twitter.com/technovendors">@technovendors</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/terms">Terms of Service</a></li>
            <li><a href="mailto:hello@owlhub.io">Contact</a></li>
            <li><a href="/support">Support</a></li>
          </ul>
        </div>
      </div>
  </footer>

</body>
</html>
